
body{
background-color: #2B292B;

};


div.menu{
    background-color: #24ABE4;
    width: 50px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 10%;
    padding-left: 10%;

}

a{
    padding: 30px;
    color: #24ABE4;
}

p{
  color: #A5A5A5;
  font-size: 20px;
  font-family: Helvetica;

}
