


<header class="header">
  <nav>
    {% for item in site.data.navigation %}
      <a href="{{ item.link }}" {% if page.url == item.link %} style="color: red;"{% endif %}>
        {{ item.name }}
      </a>
    {% endfor %}
  </nav>
<ul class="social-links">

<a href="mailto:shuiza0.0@gmail.com" class="social-links__entry" target="_blank">
<i class="fa fa-envelope-square"></i>
</a>


<a href="https://github.com/Shinora" class="social-links__entry" target="_blank">
<i class="fa fa-github"></i>
</a>

<a href="www.linkedin.com/in/Amato-simon" class="social-links__entry" target="_blank">
<i class="fa fa-linkedin"></i>
</a>
{% endif %}
</ul>
</header>
