


<div class="header">
  <div class="navigation">
    {% for item in site.data.navigation %}
      <a href="{{ item.link }}">
        {{ item.name }}
      </a>
    {% endfor %}
  </div>
<ul class="social-links">

<a href="mailto:shuiza0.0@gmail.com" class="social-links__entry" target="_blank">
<i class="fa fa-envelope-square"></i>
</a>


<a href="https://github.com/Shinora" class="social-links__entry" target="_blank">
<i class="fa fa-github"></i>
</a>

<a href="https://www.linkedin.com/in/amato-simon" class="social-links__entry" target="_blank">
<i class="fa fa-linkedin"></i>
</a>

</ul>
</div>
